$color-body-bg: #F9F9F9;
$color-black-headers: #151515;
$color-gray-border: #D1D1D1;
$color-white: #fff;
$color-c1a: #151515;
$color-c1b: #575757;
$color-c1c: #A9A9A9;
$color-c2a: #6A983C; //primary button border
$color-c2b: #46760A; //primary button main
$color-c2e: #F4F8EC;
$color-c1f: #F5F5F5;