$color-body-bg: #f9f9f9;
$color-black-headers: #151515;
$color-gray-border: #d1d1d1;
$color-white: #fff;
$color-c1a: #151515;
$color-c1b: #575757;
$color-c1c: #a9a9a9;
$color-c1d: #d1d1d1;
$color-c1h: #f9f9f9;
$color-c2a: #6a983c; //primary button border
$color-c2b: #46760a; //primary button main
$color-c2e: #f4f8ec;
$color-c1f: #f5f5f5;
$color-alert: rgb(152, 45, 45);
