.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 10;
}

.checkout-modal {
  @include fontOpenSans;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 30px;
  width: 65%;
  height: 85%;
  background-color: $color-c1h;
  font-size: 12px;
  &__title {
    @include fontPoppinsMedium;
    font-size: 2.5em;
    margin: 0 0 15px;
  }
  &__subtitle {
    text-transform: capitalize;
    margin: 0;
  }
  &__caption {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    color: $color-c1c;
  }
  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid $color-c1d;
    border-radius: 12px;
    padding: 15px;
    margin: 10px 0 25px;
    &.ccard-inputs {
      grid-template-columns: 3fr 1fr 1fr;
      .modal-input:first-child {
        grid-column: 1 / span 2;
      }
    }
  }
  &__submit {
    display: block;
    margin-left: auto;
    width: 30%;
  }
  &__processing {
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  & .spinner-loader {
    height: auto;
    &__svg {
      height: 40px;
      width: 40px;
    }
  }
}

.modal-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__caption {
    @include fontPoppinsSemiBold;
  }
  &__field {
    background-color: $color-c1h;
    border: 1px solid $color-c1d;
    border-radius: 12px;
    padding: 8px;
    width: 100%;
  }
  &__error {
    color: $color-alert;
  }
}

.ccard-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__visa {
        background: url(../assets/svg/visa.svg) no-repeat center/100%;
        height: 100%;
    }
    &__master {
        background: url(../assets/svg/mastercard.svg) no-repeat center/70%;
    }
}
