.slider-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.slider__img-container {
  flex: 1;
  height: 460px;
}

.slider-vertical {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.slider-vertical__img-container {
  position: relative;
}

.slider-vertical__img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  object-fit: contain;
  cursor: zoom-in;
}

.slider-vertical__img-active {
  &::before {
    content: '';
    display: block;
    width: 3px;
    height: 40px;
    background-color: $color-c2a;
    position: absolute;
    left: 0;
    transform: translateX(-1rem);
  }
}

.slider__main-image {
  width: 100%;
  height: 100%;
  //vertical-align: middle;
  object-fit: contain;
  cursor: zoom-in;
}

.full-slider__container {
  position: fixed;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
}

.full-slider__close-button {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  transform: translate(-5px, 10px);  
  cursor: pointer;
  &:hover {
    > .cross-svg__slider {
      fill: $color-black-headers;
    }
  }
}

.cross-svg__slider {
  width: 25px;
  height: 25px;
  fill: $color-c1c;
  transition: ease-in 0.2s;
}

.full-slider__meida-container {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  padding: 1rem;
  flex-grow: 1;
}

.full-slider__left-button, .full-slider__right-button {
  border: none;
  background: none;
  width: 150px;
  height: 500px;
  cursor: pointer;
  .button-chevron__svg {
    width: 60px;
    fill: $color-c1c;
  }
  &:hover {
    > .button-chevron__svg {
      fill: $color-black-headers;
    }
  }
}

.full-slider__right-button {
  transform: rotate(180deg);
}

.full-slider__img-container {
  width: 55%;
}

.full-slider__main-image {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.full-slider__horizontal {
  height: 66px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.full-slider__horizontal-active {
  &::before {
    content: '';
    display: block;
    height: 3px;
    width: 40px;
    background-color: $color-c2a;
    position: absolute;
    bottom: 0;
    transform: translateY(-20px);
  }
}
