.slider-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.slider-vertical {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.slider-vertical__img-container {
  position: relative;
}

.slider-vertical__img {
  width: 40px;
  height: 40px;
  cursor: zoom-in;
}

.slider-vertical__img-active {
  &::before {
    content: '';
    display: block;
    width: 3px;
    height: 40px;
    background-color: $color-c2a;
    position: absolute;
    left: 0;
    transform: translateX(-1rem);
  }
}

.slider__main-image {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

@keyframes fadeIn-opacity {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut-opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.hide-cover {
  animation: fadeIn-opacity 0.3s ease-in 0.25s forwards;
}

.show-cover {
  animation: fadeOut-opacity 0.3s ease-in 0.25s forwards;
}
